<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pokemon Frenzy</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Pokedex</a></li>
      <li><a href="#">Moves</a></li>
      <li><a href="#">Trainers</a></li>
      <li class="active"><a href="#">About</a></li>
    </ul>
      <form class="navbar-form navbar-right" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>

<div style="width:500px;padding-left:50px;padding-top:20px;">
  <h1>About</h1>
  <p>Pokemon Frenzy gives you detailed information on all the worlds Pokemon and their moves.
  It also follows the worlds top trainers and their Pokemon. All Pokemon data comes from <a href="https://github.com/fanzeyi/pokemon.json">here</a> and
  all Pokemon Trainer data is randomly generated from <a href="https://github.com/faker-ruby/faker">Faker</a>.</p>
</div>
