<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pokemon Frenzy</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
      <form class="navbar-form navbar-right" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
<div style="width:500px;padding-left:50px;padding-top:20px;">
  <h1>About Pokemon Frenzy</h1>
  <p>Pokemon Frenzy gives you detailed information on all the worlds Pokemon and their moves.
  It also follows the worlds top trainers and their Pokemon. All Pokemon Data comes from <a href="https://github.com/fanzeyi/pokemon.json">here</a>.
  All Pokemon Trainer data is randomly generated from Faker.</p>
</div>
